.container {
  width: 100vw;
  height: 100vh;
  display: grid;

  text-align: center;
}
.canvas {
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: exclusion;
}
.text {
  width: auto;
  height: auto;
  margin: auto;
}
h1 {
  font-size: 5em;
}
